* {
	margin: 0;
	padding: 0;
	z-index: 1;
}

/*
 * HTML
 */
body {
	margin: 10px;
	background-color: #FFF;
	color: #333;
	font-family: verdana, sans-serif;
	font-size: 9pt;
	text-align: center;
}

* {
	margin: 0;
	padding: 0;
	z-index: 1;
}

/*
 * HTML
 */
body {
	margin: 10px;
	background-color: #FFF;
	color: #333;
	font-family: verdana, sans-serif;
	font-size: 9pt;
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	margin: 10px 0;
	font-weight: bold;
	font-family : arial, sans-serif;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.6em;	
}

h4 {
	font-size: 1.4em;
}

h5 {
	font-size: 1.2em;
}

h6 {
	font-size: 1.1em;
}

p {
	margin: 10px 0;
}

a {
	color: #069;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

ul, ol {
	margin: 10px 0 10px 20px;
	padding: 0 0 0 15px;
}

li {
	margin: 5px 0;
	padding: 0 0 0 5px;
}

ul ol, ul ul, ol ol, ol ul {
	margin: 5px 0 5px 20px;
}

fieldset {
	margin: 10px 0;
	padding: 10px;
	border: 1px solid #CCC;
}

legend {
	font-weight: bold;
}

label, legend {
	white-space: nowrap;
}

input, label, select, textarea {
	margin: 2px 0;
	color: #333;
	font-family: verdana, sans-serif;
	font-size: 9pt;
	vertical-align: middle;
}

label {
	width: 150px;
	padding: 2px 5px;
	display: block;
	float: left;
	text-align: right;
}

option {
	padding-right: 10px;
}

table, tr, th, td {
	border: 0;
	font-size: 9pt;
}

table {
	width: 100%;
	margin: 5px auto;
}

th, td {
	padding: 0;
	vertical-align: top;
	text-align: left;
}

img {
	border: 0;
}

hr {
	height: 1px;
	margin: 10px 0;
	border: 1px solid #CCC;
	border-width: 1px 0 0 0;
}

/*
 * Estilos genéricos
 */
.aviso {
	color: #900;
	font-weight: bold;
}

.need {
	color: #006;
	font-weight: bold;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

.bold {
	font-weight: bold;
}

.nobr {
	white-space: nowrap;
}

/*
 * Estrutura
 */
#container {
	width: 100%;
	position: relative;
	margin: 0 auto;
	text-align: left;
}

/*
 * Rodapé
 */
#footer {
	display: none;
}

/*
 * Cabeçalho
 */
#header {
	display: none;
}

/*
 * Forms
 */
input.btn {
	padding: 1px 5px;
	border: 2px solid #009ACD;
	background-color: #B2DFEE;
	color: #009ACD;
	font-weight: bold;
	cursor: pointer;
}

input.btn_hot {
	padding: 1px 5px;
	border: 2px solid #F90;
	background-color: #FC6;
	color: #C60;
	font-weight: bold;
	cursor: pointer;
}

label.right_label {
	width: auto;
	padding: 2px 5px;
	display: inline;
	float: none;
	text-align: left;
}

/*
 * Tabelas
 */
.line td, .line th {
	background-color: #FF9;
}

.report td, .report th {
	font-size: 7pt;
}

.report th {
	background-color: #DDD;
}

/*
 * Menus
 */
.menu_tabs {
	margin: 0;
	padding: 4px 0 5px 0;
	list-style: none;
	border-bottom: 1px solid #CCC;
}

.menu_tabs li {
	padding: 5px;
	display: inline;
	border: 1px solid #CCC;
	background-color: #FFF;
}

.menu_tabs li.ativo {
	border-bottom-color: #FFF;
	color: #F60;
	font-weight: bold;
}